[v-cloak] {
  display: none; /* allows to hide the element until the vue instance is ready (to make the vue syntax invisible) */
}

@font-face {
    font-family: Roboto;
    src: url('../lib/fonts/roboto/Roboto-Regular.ttf');
}

body{
  font-family: 'Roboto';
}
